<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<br><hr>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Net Terminal Horizontal GUI -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2838251107855362"
     data-ad-slot="9516301361"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br><hr>

<!--  Replace menu links here 
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Autores</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contato</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">Outro</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Mais</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Pague um café para os caras <i class="fa fa-coffee text-danger"></i></a>
</li>

-->
